.stVideo{
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 25%; /* Arrotonda i bordi del video */
    overflow: hidden; /* Assicura che i bordi arrotondati siano rispettati */
    max-width: 100%; /* Assicura che il video non superi la larghezza del suo contenitore */
    display: block; /* Assicura che il video sia visualizzato come blocco */
    margin: 0 auto; /* Centra il video horizontalmente */
    margin-top: -100px !important;
}

h1#raguysbot{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff; /* Colore del testo bianco */
    text-align: center;
    padding: 20px 0; /* Spaziatura interna superiore e inferiore */
    margin-bottom: 20px; /* Spaziatura inferiore */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombra del testo */
    animation: animate 2s infinite;
}
@keyframes animate {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  
    
}
h1#raguysbot:hover {
    font-size: 3.5rem;
   /*aggiungo luce esterna*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 10px rgba(91, 192, 190, 0.5);
    
}

.stVideo::-webkit-media-controls {
  display: none !important;
}

.stVideo::-webkit-media-controls-enclosure {
  display: none !important;
}

.stVideo::-webkit-media-controls-panel {
  display: none !important;
}
#legal-chatbot-info{
  background: linear-gradient(135deg, #42164C,#7C284B,#EC442C) !important;
  padding: 20px;
  border-radius: 20px;
  margin-bottom : 20px;
  box-shadow: 0 0 30px rgba(236, 13, 162, 0.6); /* Aggiungi questa riga per l'effetto glowing */

}
.row-widget.stButton{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}



